@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminHome</title>
    
    <script src="~/scripts/jquery-3.1.1.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <script src="~/scripts/bootstrap.min.js"></script>
</head>
<body>
    @RenderPage("_defaultPage.cshtml")
    <div>
        <h1>Welcome to the Admin's Portal @ViewBag.adminName</h1>
        @Html.ActionLink("Add New User", "AddNewUser")
        @Html.ActionLink("View Current Users","ViewUsers")
        @Html.ActionLink("Change User Information","UpdateUserInfo")
    </div>
</body>
</html>
