@using HealthDataBase.Domain.Entities
@model users

@{
    Layout = null;
}

<!DOCTYPE html>
<!--
Fahad Mirza
code from w3school.com
-->
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/scripts/jquery-3.1.1.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <script src="~/scripts/bootstrap.min.js"></script>


</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#nbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div>
                    <a class="navbar-brand" href="#"><p>Health Center</p></a>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="nbar">
                <ul class="nav navbar-nav">
                    <li class="active">@Html.ActionLink("Home", "index")</li>
                    <li>@Html.ActionLink("About Us", "AboutUs")</li>
                    <li>@Html.ActionLink("Near By Clinics", "NearByClinics")</li>
                    <li>@Html.ActionLink("Contact Us", "ContactUs")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    

                    <li><a data-toggle="modal" data-target="#LOGINPOP" href="#"><span class="glyphicon glyphicon-tower"></span> @Model.UserName</a></li>
                    <li><a data-toggle="modal" data-target="#LOGINPOP" href="#"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
                </ul>
            </div>
        </div>
    </nav>
   
    

    <!--main content-->
    <div class="container">
        <div class="col-md-8">
            @using (Html.BeginForm("search", "Home"))
            {
                <div class="form-group">
                    <label>Enter Syptoms</label>@Html.TextBox("_txtSearch", "", new { @class = "form-control" })
                </div>
                <div>
                    <input class="btn btn-success" type="submit" name="_btnSubmit" value="Submit" />
                </div>
            }
        </div>
        <h1></h1>
    </div>
</body>
</html>