@using HealthDataBase.Domain.Entities
@model users
@{
    Layout = null;
}

<!DOCTYPE html>
<!--
Fahad Mirza
code from w3school.com
-->
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/scripts/jquery-3.1.1.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <script src="~/scripts/bootstrap.min.js"></script>


</head>
<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#nbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div>
                    <a class="navbar-brand" href="#"><p>Health Center</p></a>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="nbar">
                <ul class="nav navbar-nav">
                    <li class="active">@Html.ActionLink("Home","index")</li>
                    <li>@Html.ActionLink("About Us", "AboutUs")</li>
                    <li>@Html.ActionLink("Near By Clinics", "NearByClinics")</li>
                    <li>@Html.ActionLink("Contact Us", "ContactUs")</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a data-toggle="modal" data-target="#SignUpPOP" href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>


                    <li><a data-toggle="modal" data-target="#LOGINPOP" href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="modal fade" id="SignUpPOP" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Sign Up</h4>
                </div>
                <div class="modal-body">
                    <div class="container" style="width:400px; margin:auto;">
                        @using (Html.BeginForm("SignUp", "Home"))
                        {
                            <div class="form-group">
                                <label>First Name</label>@Html.TextBox("FirstName", "", new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Last Name</label>@Html.TextBox("LastName", "", new { @class = "form-control" })

                            </div>
                            <div class="form-group">
                                <label>Email Address</label>@Html.TextBox("EmailAddress", "", new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Phone Number</label>@Html.TextBox("PhoneNumber", "", new { @class = "form-control" })
                            </div>

                            <div class="form-group">
                                <label>Username</label>@Html.TextBox("username", "", new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Password</label>@Html.TextBox("password", "", new { @class = "form-control" })
                            </div>
                            <div>
                                <input class="btn btn-success" type="submit" name="_btnSignup" value="Sign Up" />
                            </div>
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default text-center" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="LOGINPOP" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Login</h4>
                    @using (Html.BeginForm("LogIn", "Home"))
                    {
                        <div class="form-group">
                            <label>Username</label>@Html.TextBox("username", "", new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Password</label>@Html.TextBox("password", "", new { type = "password", @class = "form-control" })
                        </div>
                        <div>
                            <input class="btn btn-success" type="submit" name="_btnLogIn" value="Log In" />
                        </div>
                    }
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--main content-->
    <div class="container">
        <div class="col-md-8">
            <h1>Recreating Maps....</h1>
        </div>
    </div>
</body>
</html>
